html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-image: linear-gradient(45deg, #3c1955, #144968);
}

.panels {
    position: fixed;
    width: 85% !important;
    height: 85% !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.text {
    margin: 10px;
    text-align: center;
}

.random-image {
    width: 400px;
    height: 400px;
    background-image: url('https://source.unsplash.com/random/400x400');

}

.icons {
    width: 350px;
    height: 310px;
    background-image: url('../../IMG/panels.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.overflow-wrapper {
    overflow: auto;
}
.overflow-content {
    width: 3200px;
    height: 1800px;
    background-image: linear-gradient(90deg, transparent, #00aced99);
}