:root {
	--panels-bar-height: 40px;
}

.panels::after {
	background: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	pointer-events: none;
}
.panels.resizing::after {
	background: #ab2eff11;
}
.panels.grabbing::after {
	background: #2eff9d11;
}
.panels.numb {
	pointer-events: none;
}
.panels.resizing>.panel.focus>.bar {
	background-image: linear-gradient(#ab2eff 4px, transparent 4px);
}
.panels.grabbing>.panel.focus>.bar>.grab {
	cursor: grabbing;
}
.panels.grabbing>.panel.focus>.bar {
	background-image: linear-gradient(#2eff9d 4px, transparent 4px);
}

.panel {
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	min-width: 160px;
	min-height: var(--panels-bar-height);
	background-color: #1e1d2e;
	color: #e3e8e5;
	border-radius: 1px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
}
.panel>.bar {
	flex-shrink: 0;
	display: flex;
	height: var(--panels-bar-height);
	width: 100%;
}
.panel.focus>.bar {
	background-image: linear-gradient(#2fa6ff 4px, transparent 4px);
}
.panel>.bar>.grab {
	min-width: var(--panels-bar-height);
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.panel>.bar>.close {
	position: relative;
}
.panel>.bar>.close:hover {
	filter: invert(14%) sepia(35%) saturate(7392%) hue-rotate(319deg) brightness(98%) contrast(104%) !important;
}
.panel.focus>.bar>.close:hover::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#000000 4px, transparent 4px);
}
.panel>.bar>.resize {
	background-position: -60px 0px;
}
.panel>.bar>.alternate {
	background-position: 0px -30px;
}
.panel>.bar>.alternate.restore {
	background-position: -30px -30px;
}
.panel.squish>.bar>.resize,
.panel.squish>.bar>.alternate {
	display: none;
}
.panel>.bar>.squish {
	background-position: 0px -60px;
}
.panel.squish>.bar>.squish {
	background-position: -60px -30px;
}
.panel>.bar>.option {
	cursor: pointer;
	min-height: var(--panels-bar-height);
	min-width: var(--panels-bar-height);
	filter: invert(1);
	background-repeat: no-repeat;
	background-image: url("../IMG/panels.png");
}
.panel>.bar>.option:hover {
	filter: invert(70%) sepia(41%) saturate(7477%) hue-rotate(184deg) brightness(104%) contrast(101%);
}
.panel>.content {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.panel.squish>.content {
	display: none;
}
.panel>.content::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}
.panel>.content::-webkit-scrollbar-corner {
	background-color: transparent;
}
.panel>.content::-webkit-scrollbar-thumb {
	background-color: #8080ad;
	border-radius: 1px;
}