:root {
	--panels-bar-height: 40px;
}

.panels::after {
	background: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	pointer-events: none;
}
.panels.resizing::after {
	background: #ab2eff11;
}
.panels.grabbing::after {
	background: #2eff9d11;
}
.panels.numb {
	pointer-events: none;
}
.panel {
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	min-width: 240px;
	min-height: var(--panels-bar-height);
	overflow: hidden;
	font-family: Arial, sans-serif;
	background-color: #1e1d2e;
	color: #e3e8e5;
	display: flex;
	flex-direction: column;
}
.panel>.bar {
	flex-shrink: 0;
	display: flex;
	height: var(--panels-bar-height);
	width: 100%;
	user-select: none;
}
.panel.focus>.bar {
	background: #2fa6ff;
}
.panels.resizing>.panel.focus>.bar {
	background: #ab2eff;
}
.panels.grabbing>.panel.focus>.bar>.grab {
	cursor: grabbing;
}
.panels.grabbing>.panel.focus>.bar {
	background: #2eff9d;
}
.panel>.bar>.grab {
	min-width: var(--panels-bar-height);
	flex-grow: 1;
}
.panel>.bar>.flexible {
	background-position: -40px -80px;
}
.panel>.bar>.close {
	/*  */
}
.panel>.bar>.close:active:hover {
	background-color: #AB0B52 !important;
	transition: background-color 1s;
}
.panel>.bar>.close:hover {
	/* filter: invert(86%) sepia(35%) saturate(7392%) hue-rotate(319deg) brightness(98%) contrast(104%) !important; */
}
.panel>.bar>.resize {
	background-position: -80px 0px;
}
.panel>.bar>.alternate {
	background-position: 0px -40px;
}
.panel>.bar>.alternate.restore {
	background-position: -40px -40px;
}
.panel.squish>.bar>.resize,
.panel.squish>.bar>.alternate {
	display: none;
}
.panel>.bar>.squish {
	background-position: 0px -80px;
}
.panel.squish>.bar>.squish {
	background-position: -80px -40px;
}
.panel>.bar>.option {
	cursor: pointer;
	min-height: var(--panels-bar-height);
	min-width: var(--panels-bar-height);
	background-repeat: no-repeat;
	background-image: url("../IMG/panels.png");
}
.panel>.bar>.option:hover {
	background-color: #0bab5b;
	/* filter: invert(30%) sepia(41%) saturate(7477%) hue-rotate(184deg) brightness(104%) contrast(101%); */
}
.panel>.content {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.panel.squish>.content {
	display: none;
}
.panel>.content::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}
.panel>.content::-webkit-scrollbar-corner {
	background-color: transparent;
}
.panel>.content::-webkit-scrollbar-thumb {
	background-color: #8080ad;
	border-radius: 1px;
}