$panel_bar_height: 40px;

body {
	&.resizing>.panels,
	&.grabbing>.panels {
		pointer-events: none;
	}

	&.grabbing {
		cursor: grabbing;
	}

	&.resizing {
		cursor: crosshair;
	}

	&.resizing>.panels>.panel.focus {
		&>.bar {
			background: #7e2eff;
		}
		&>.content {
			::-webkit-scrollbar-thumb {
				background-color: #7e2eff;
			}
		}

	}

	&.grabbing>.panels>.panel.focus {
		&>.bar {
			background: #2eff9d;
		}
		&>.content {
			::-webkit-scrollbar-thumb {
				background-color: #2eff9d;
			}
		}

	}

	.panels {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		user-select: none;
		font-family: Arial, sans-serif;
		background-color: #0d1a26;
		color: #e3e8e5;

		&>.panel {
			position: fixed;
			max-width: 100%;
			max-height: 100%;
			min-height: $panel_bar_height;
			background-color: #182b3c;
			overflow: hidden;
			display: flex;
			flex-direction: column;

			&.focus {
				&>.bar {
					background: #2fa6ff;
				}

				&>.content {
					::-webkit-scrollbar-thumb {
						background-color: #2fa6ff;
					}
				}
			}

			&.squished {
				&>.bar {
					&>.option.maximize,
					&>.option.resize,
					&>.option.preserve,
					&>.option.flexible {
						display: none;
					}

					&>.option.squish {
						background-position: -80px -40px;
					}
				}

				&>.content {
					display: none;
				}
			}

			&>.bar {
				width: 100%;
				display: flex;

				&>div {
					cursor: pointer;
					min-width: $panel_bar_height;
					min-height: $panel_bar_height;
				}

				&>.grab {
					cursor: grab;
					flex-grow: 1;
				}

				&>.option {
					background-repeat: no-repeat;
					background-image: url("../../IMG/panels.png");

					&.close {
						&.closing {
							background-color: #ab0b52 !important;
							transition: background-color 0.25s ease-out;
						}
					}

					&.flexible {
						background-position: -40px -80px;
					}

					&.resize {
						background-position: -80px 0px;
					}

					&.maximize {
						background-position: -80px -80px;
					}

					&.preserve {
						background-position: 0px -40px;

						&.restore {
							background-position: -40px -40px;
						}
					}

					&.squish {
						background-position: 0px -80px;
					}

					&:hover {
						background-color: #eeeeee22;
					}

					&.hidden {
						display: none;
					}
				}
			}

			&>.content {
				flex-grow: 1;
				overflow: auto;
				user-select: text;
				display: grid;

				::-webkit-scrollbar {
					width: 8px;
					height: 8px;
					background-color: transparent;
				}

				::-webkit-scrollbar-corner {
					background-color: transparent;
				}

				::-webkit-scrollbar-thumb {
					background-color: #182b3c;
				}

				::selection {
					background-color: #ff8a00;
					color: #111;
				}
			}
		}
	}
}